<section class="main">
  <input class="toggle-all" type="checkbox">
  <label for="toggle-all">Mark all as complete</label>
  <ul class="todo-list">
    {{#each todos}}
    <li class="completed">
      <div class="view">
        <input class="toggle" type="checkbox" {{if completed checked=true}}>
        <label>{{title}}</label>
        <button class="destroy"></button>
      </div>
      <input class="edit" value={{title}}>
    </li>
    {{/each}}
  </ul>
</section>